<div class="col-12 p-3">
    <div class="card">
        <h5 class="card-title px-3">
            Owner details
        </h5>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-12 col-lg-4">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" name="fname">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" id="lName" name="lname">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="email">email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
            </div>
        </div>
        <h5 class="card-title px-3">
            Vehicle details
        </h5>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-12 col-lg-4">
                    <label for="make">Make</label>
                    <input type="text" class="form-control" id="make" name="make">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="phone">Year</label>
                    <input type="date" class="form-control" id="year" name="year">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="vin">VIN</label>
                    <input type="text" class="form-control" id="vin" name="vin">
                </div>
            </div>
        </div>
        <h5 class="card-title px-3">
            Insurance details
        </h5>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-12 col-lg-4">
                    <label for="make">Make</label>
                    <input type="text" class="form-control" id="make" name="make">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="phone">Year</label>
                    <input type="date" class="form-control" id="year" name="year">
                </div>
                <div class="col-12 col-lg-4">
                    <label for="vin">VIN</label>
                    <input type="text" class="form-control" id="vin" name="vin">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-center">
        <button class="btn btn-light me-2 ms-auto">
            Reset
        </button>
        <button id="save" class="btn btn-success">
            Save
        </button>
    </div>
</div>